USE [master]
GO
/****** Object:  Database [BANCODESAFIO]    Script Date: 6/16/2022 9:43:55 PM ******/
CREATE DATABASE [BANCODESAFIO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BANCODESAFIO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BANCODESAFIO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BANCODESAFIO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BANCODESAFIO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BANCODESAFIO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BANCODESAFIO]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 6/16/2022 9:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Uf] [varchar](2) NOT NULL,
	[Celular] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financiamento]    Script Date: 6/16/2022 9:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financiamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoFinanciamento] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[ValorTotal] [decimal](18, 0) NOT NULL,
	[DataVencimento] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parcela]    Script Date: 6/16/2022 9:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parcela](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdFinanciamento] [int] NOT NULL,
	[NumeroParcela] [int] NOT NULL,
	[ValorParcela] [decimal](18, 0) NOT NULL,
	[DataVencimento] [datetime] NOT NULL,
	[DataPagamento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoFinanciamento]    Script Date: 6/16/2022 9:43:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoFinanciamento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](255) NOT NULL,
	[Taxa] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([Id], [Nome], [Uf], [Celular]) VALUES (1, N'Paulo Zuchini', N'SP', N'1999999999')
INSERT [dbo].[Cliente] ([Id], [Nome], [Uf], [Celular]) VALUES (2, N'Paula Gomes', N'SP', N'1999999999')
INSERT [dbo].[Cliente] ([Id], [Nome], [Uf], [Celular]) VALUES (3, N'Yoshi Charles', N'SP', N'1999999999')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Financiamento] ON 

INSERT [dbo].[Financiamento] ([Id], [TipoFinanciamento], [IdCliente], [ValorTotal], [DataVencimento]) VALUES (1, 1, 1, CAST(51000 AS Decimal(18, 0)), CAST(N'2022-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Financiamento] ([Id], [TipoFinanciamento], [IdCliente], [ValorTotal], [DataVencimento]) VALUES (2, 1, 2, CAST(20400 AS Decimal(18, 0)), CAST(N'2022-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Financiamento] ([Id], [TipoFinanciamento], [IdCliente], [ValorTotal], [DataVencimento]) VALUES (3, 4, 3, CAST(500000 AS Decimal(18, 0)), CAST(N'2022-05-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Financiamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Parcela] ON 

INSERT [dbo].[Parcela] ([Id], [IdFinanciamento], [NumeroParcela], [ValorParcela], [DataVencimento], [DataPagamento]) VALUES (1, 1, 1, CAST(10000 AS Decimal(18, 0)), CAST(N'2021-01-15T00:00:00.000' AS DateTime), CAST(N'2022-11-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Parcela] ([Id], [IdFinanciamento], [NumeroParcela], [ValorParcela], [DataVencimento], [DataPagamento]) VALUES (2, 1, 2, CAST(10000 AS Decimal(18, 0)), CAST(N'2021-02-15T00:00:00.000' AS DateTime), CAST(N'2022-11-15T00:00:00.000' AS DateTime))
INSERT [dbo].[Parcela] ([Id], [IdFinanciamento], [NumeroParcela], [ValorParcela], [DataVencimento], [DataPagamento]) VALUES (3, 1, 3, CAST(10000 AS Decimal(18, 0)), CAST(N'2021-03-15T00:00:00.000' AS DateTime), CAST(N'2022-11-15T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Parcela] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoFinanciamento] ON 

INSERT [dbo].[TipoFinanciamento] ([Id], [Nome], [Taxa]) VALUES (1, N'Direto', CAST(2 AS Decimal(18, 0)))
INSERT [dbo].[TipoFinanciamento] ([Id], [Nome], [Taxa]) VALUES (2, N'Consignado', CAST(1 AS Decimal(18, 0)))
INSERT [dbo].[TipoFinanciamento] ([Id], [Nome], [Taxa]) VALUES (3, N'Pessoa Juridica', CAST(5 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[TipoFinanciamento] OFF
GO
ALTER TABLE [dbo].[Financiamento]  WITH CHECK ADD  CONSTRAINT [fk_IdCliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([Id])
GO
ALTER TABLE [dbo].[Financiamento] CHECK CONSTRAINT [fk_IdCliente]
GO
ALTER TABLE [dbo].[Financiamento]  WITH CHECK ADD  CONSTRAINT [fk_TipoFinanciamento] FOREIGN KEY([TipoFinanciamento])
REFERENCES [dbo].[TipoFinanciamento] ([Id])
GO
ALTER TABLE [dbo].[Financiamento] CHECK CONSTRAINT [fk_TipoFinanciamento]
GO
ALTER TABLE [dbo].[Parcela]  WITH CHECK ADD  CONSTRAINT [fk_IdFinanciamento] FOREIGN KEY([IdFinanciamento])
REFERENCES [dbo].[Financiamento] ([Id])
GO
ALTER TABLE [dbo].[Parcela] CHECK CONSTRAINT [fk_IdFinanciamento]
GO
USE [master]
GO
